# Virtuoso files /data/db
/data/publication-triplestore/*
/data/db/*
/data/ldes-feed/*
/data/exports/*
/data/toezicht-reports/*
/data/db/virtuoso.ini
/data/files/*
/debug
.DS_Store
.vscode
*~

!/tmp/

docker-compose.override.yml
.htpasswd
.env

config/login