version: "3.7"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  identifier:
    image: semtech/mu-identifier:1.10.1
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.2
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deltanotifier:
    image: semtech/mu-delta-notifier:0.3.0
    volumes:
      - ./config/delta:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  database:
    image: semtech/mu-authorization:0.6.0-beta.8
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
      DATABASE_OVERLOAD_RECOVERY: "true"
      DATABASE_COMPATIBILITY: "Virtuoso"
      # Note: not sure wether it gets picked up properly, it is meant for healing-process which may make
      # heavy queries
      QUERY_MAX_PROCESSING_TIME: 605000
      QUERY_MAX_EXECUTION_TIME: 605000
    volumes:
      - ./config/authorization:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  virtuoso:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini # Note: on production override this setting
      - ./config/virtuoso/:/opt/virtuoso-scripts
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.6.0
    links:
      - virtuoso:database
    environment:
      MU_SPARQL_TIMEOUT: "300"
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:1.23.0
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    volumes:
      - ./config/resources:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  login:
    image: lblod/acmidm-login-service:0.12.0
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "a2c0d6ea-01b4-4f68-920b-10834a943c27"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://loket.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"
      LOG_SINK_URL: "http://sink"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  file:
    image: cecemel/file-service:3.3.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  frontend:
    image: lblod/frontend-lokaal-mandatenbeheer:0.0.6
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
    environment:
      EMBER_AUTHENTICATION_ENABLED: "true"
  filehost:
    image: nginx:1.15.2
    volumes:
      - ./config/filehost/nginx.conf:/etc/nginx/nginx.conf
      - ./config/filehost/conf.d:/etc/nginx/conf.d
      - ./data/files:/data:ro
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  sink:
    image: nginx:1.15.2
    volumes:
      - ./config/sink/sink.conf:/etc/nginx/conf.d/default.conf
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  person-uri-for-social-security-number:
    image: lblod/person-uri-for-social-security-number-service:0.4.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  form-content:
    image: lblod/form-content-service:0.0.4
    restart: always
    labels:
      - "logging=true"
    volumes:
      - ./config/form-content:/forms
  mandataris:
    image: lblod/mandataris-service:latest
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  adressenregister:
    image: lblod/adressenregister-fuzzy-search-service:0.6.3
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  modified:
    image: lblod/track-modified-service:0.0.0
    labels:
      - "logging=true"
    volumes:
      - ./config/modified:/config
    restart: always
    logging: *default-logging

  authorization-wrapper:
    image: lblod/ldes-authorization-wrapper:0.0.2
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
    volumes:
      - ./config/authorization-wrapper:/config
  ##############################################################################
  # LDES
  ##############################################################################
  ldes-delta-pusher:
    image: redpencil/ldes-delta-pusher:0.2.0
    environment:
      LDES_ENDPOINT: "http://ldes-backend"
    volumes:
      - ./config/ldes-delta-pusher/:/config/
    restart: always
    labels:
      - "logging=true"
    links:
      - virtuoso:database
  ldes-backend:
    image: redpencil/fragmentation-producer:0.4.0
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    environment:
      BASE_URL: "https://lmb.lblod.info/streams/ldes"
      FOLDER_DEPTH: 1
      PAGE_RESOURCES_COUNT: 20
      LDES_STREAM_PREFIX: "http://lmb.lblod.info/streams/ldes/"
      TIME_TREE_RELATION_PATH: "http://www.w3.org/ns/prov#generatedAtTime"
      CACHE_SIZE: 10
      DATA_FOLDER: "/data"
      ENABLE_AUTH: "false"
    volumes:
      - "./data/ldes-feed/:/data/"
  ##############################################################################
  # VENDOR ENDPOINTS
  ##############################################################################
  vendor-login:
    image: lblod/vendor-login-service:1.0.0
    restart: always
    logging: *default-logging
  sparql-authorization-wrapper:
    image: lblod/sparql-authorization-wrapper-service:1.0.0
    volumes:
      - ./config/sparql-authorization-wrapper:/config
    restart: always
    logging: *default-logging
  ##############################################################################
  # Besluiten consumers
  ##############################################################################
  besluiten-consumer-0:
    image: lblod/delta-consumer:0.0.24
    depends_on:
      - virtuoso
    volumes:
      - ./config/custom-dispatching:/config/triples-dispatching/custom-dispatching
    environment:
      DCR_SERVICE_NAME: "besluiten-consumer-0"
      # DCR_SYNC_BASE_URL: ""
      DCR_SYNC_FILES_PATH: "/sync/besluiten/files"
      DCR_DISABLE_DELTA_INGEST: "false"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/lblod-harvester/BesluitenCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/initialSync/besluiten"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/besluitenSyncing"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/besluiten-consumer"
      DCR_KEEP_DELTA_FILES: "false"
      DCR_DELTA_FILE_FOLDER: "/consumer-files-0"
      DIRECT_DATABASE_ENDPOINT: "http://virtuoso:8890/sparql"
      BATCH_SIZE: "1"
      SLEEP_BETWEEN_BATCHES: "1"
      PARALLEL_CALLS: "4" # In virtuoso.ini we define `ThreadsPerQuery` equal to 4
  besluiten-consumer-1:
    image: lblod/delta-consumer:0.0.24
    depends_on:
      - virtuoso
    volumes:
      - ./config/custom-dispatching:/config/triples-dispatching/custom-dispatching
    environment:
      DCR_SERVICE_NAME: "besluiten-consumer-1"
      # DCR_SYNC_BASE_URL: ""
      DCR_SYNC_FILES_PATH: "/sync/besluiten/files"
      DCR_DISABLE_DELTA_INGEST: "false"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/lblod-harvester/BesluitenCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/initialSync/besluiten-1"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/besluitenSyncing-1"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/besluiten-consumer-1"
      DCR_KEEP_DELTA_FILES: "false"
      DCR_DELTA_FILE_FOLDER: "/consumer-files-1"
      DIRECT_DATABASE_ENDPOINT: "http://virtuoso:8890/sparql"
      BATCH_SIZE: "1"
      SLEEP_BETWEEN_BATCHES: "1"
      PARALLEL_CALLS: "4" # In virtuoso.ini we define `ThreadsPerQuery` equal to 4
  besluiten-consumer-2:
    image: lblod/delta-consumer:0.0.24
    depends_on:
      - virtuoso
    volumes:
      - ./config/custom-dispatching:/config/triples-dispatching/custom-dispatching
    environment:
      DCR_SERVICE_NAME: "besluiten-consumer-2"
      # DCR_SYNC_BASE_URL: ""
      DCR_SYNC_FILES_PATH: "/sync/besluiten/files"
      DCR_DISABLE_DELTA_INGEST: "false"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/lblod-harvester/BesluitenCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/initialSync/besluiten-2"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/besluitenSyncing-2"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/besluiten-consumer-2"
      DCR_KEEP_DELTA_FILES: "false"
      DCR_DELTA_FILE_FOLDER: "/consumer-files-2"
      DIRECT_DATABASE_ENDPOINT: "http://virtuoso:8890/sparql"
      BATCH_SIZE: "1"
      SLEEP_BETWEEN_BATCHES: "1"
      PARALLEL_CALLS: "4" # In virtuoso.ini we define `ThreadsPerQuery` equal to 4
  besluiten-consumer-3:
    image: lblod/delta-consumer:0.0.24
    depends_on:
      - virtuoso
    volumes:
      - ./config/custom-dispatching:/config/triples-dispatching/custom-dispatching
    environment:
      DCR_SERVICE_NAME: "besluiten-consumer-3"
      # DCR_SYNC_BASE_URL: ""
      DCR_SYNC_FILES_PATH: "/sync/besluiten/files"
      DCR_DISABLE_DELTA_INGEST: "false"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/lblod-harvester/BesluitenCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/initialSync/besluiten-3"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/besluitenSyncing-3"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/besluiten-consumer-3"
      DCR_KEEP_DELTA_FILES: "false"
      DCR_DELTA_FILE_FOLDER: "/consumer-files-3"
      DIRECT_DATABASE_ENDPOINT: "http://virtuoso:8890/sparql"
      BATCH_SIZE: "1"
      SLEEP_BETWEEN_BATCHES: "1"
      PARALLEL_CALLS: "4" # In virtuoso.ini we define `ThreadsPerQuery` equal to 4

